.title {
    color: rgb(4, 119, 191);
    margin-left: 10px;
  }
  .img {
    height: 50px;
  }
  .el-header {
    background-color: #373d41;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }
  .el-header> div {
    display: flex;
    align-items: center;
    
  }
  .el-header>div> span {
    margin-left: 5px;
  }
  .register {
    font-size: x-large;
    float: left;
  }
  .login_container {
    background-color: gray;
    height: 100%;
  }
  .login_box {
    width: 450px;
    height: 350px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  }
  
  .btns {
    position: relative;
    display: flex;
    justify-content: flex-end;
    float: bottom;
    height: 50px;
    width: 100%;
    float: bottom;
  }
  .login_form {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .tip {
    display: inline-block;
    text-align: center;
    width: 60px;
  }
  .login_input {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 70%;
  }
  .verify_input {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 50%;
  }
  .verify_btn {
    width: 30%;
    margin-left: 20px;
    display: inline-block;
  }
  .goback {
    float: right;
  }